@charset "UTF-8";

.post-page {
    margin: 0 0 35px;
    text-align: center;
    display: block;
}

.post-page a {
    display: inline-block;
    color: #ffffff;
    background: #f4645f;
    border-radius: 2px;
}

.post-page a:hover,
.post-page a:focus {
    text-decoration: none;
}

.post-page a i {
    width: 36px;
    height: 36px;
    line-height: 36px;
}

.post-page span {
    display: inline-block;
    color: #ffffff;
    background: #f4645f;
    margin: 0 3px;
    padding: 0 12px;
    line-height: 36px;
    border-radius: 2px;
    font-weight: 300;
    font-size: 13px;
}