<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <!-- 开启自动驼峰命名规则映射(db列名到java属性名) -->
        <property name="mapUnderscoreToCamelCase" value="true" />
    </properties>


    <!-- 类型别名,仅用作简化xml文件配置 -->
    <typeAliases>
        <typeAlias alias="post" type="com.strongliu.blog.entity.Post" />
        <typeAlias alias="relationship" type="com.strongliu.blog.entity.Relationship" />
        <typeAlias alias="category" type="com.strongliu.blog.entity.Category" />
        <typeAlias alias="tag" type="com.strongliu.blog.entity.Tag" />
        <typeAlias alias="user" type="com.strongliu.blog.entity.User" />
    </typeAliases>

    <!-- 映射器 -->
    <mappers>
        <mapper resource="mapper/PostMapper.xml" />
        <mapper resource="mapper/RelationshipMapper.xml" />
        <mapper resource="mapper/CategoryMapper.xml" />
        <mapper resource="mapper/TagMapper.xml" />
        <mapper resource="mapper/UserMapper.xml" />
    </mappers>
</configuration>
