@charset "UTF-8";

.main-header {
    /*padding: 23px 0;*/
    /*background: #f4645f;*/
}

body {
    background:#f5f5f5;
}

.main-header > nav {
    background: #fff;
}

.nav-logo {
    color: #f4645f !important;
}

.btn-custom {
    padding: 2px 6px;
    color: #f4645f;
    border: 1px solid #f4645f;
    transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
}

.btn-custom:hover,
.btn-custom:focus {
    color: #f4645f;
    background-color: rgba(236, 97, 73, 0.05);
    transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    text-decoration: none;
}
