@charset "UTF-8";

.main-header {
    /*padding: 23px 0;*/
    /*background: #f4645f;*/
}

body {
    background:#f5f5f5;
}

.main-header > nav {
    background: #fff;
}

.nav-logo {
    color: #f4645f !important;
}

.post-category a {
    color: #555555 !important;
}

.post-category a:hover,
.post-category > .active > a {
    color: #f4645f !important;
}

.post {
    padding: 20px 20px 0px 20px;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.post-summary {
    margin-bottom: 20px;
}

.post-summary .post-image {
    overflow: hidden;
    float: left;
}

.post-summary .post-image img {
    width: 240px;
    height: 150px;
    padding: 1px;
    border: 1px solid #f3f3f3;
}

.post-summary .post-image img {
    transform: scale(1);
    transition: transform 1s ease;
}

.post-summary .post-image:hover img {
    transform: scale(1.2);
}

.post-summary .post-inner {
    max-height: 150px;
    overflow: hidden;
    padding: 3px 0 3px 20px;
}

.post-summary .post-inner .post-title {
    text-align: center;
    white-space:nowrap;
    padding: 3px 0 6px 0;
}

.post-summary .post-inner .post-title a {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.8;
    color: #333;
}

.post-summary .post-inner .post-title a:hover,
.post-summary .post-inner .post-title a:focus {
    text-decoration: none;
    color: #f4645f;
}

.post-summary .post-inner p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
    color: #333;
}

.post-footer {
    padding: 8px 0px;
    border-top: 1px solid #f3f3f3;
    line-height: 25px;
    overflow: hidden;
    font-size: 12px;
}

.post-footer .post-meta span > * {
    padding-right: 15px;
    color: #777;
    text-decoration: none;
}

.post-footer .post-meta a:hover,
.post-footer .post-meta a:focus {
    color: #f4645f;
    text-decoration: none;
}

.btn-custom {
    padding: 2px 6px;
    color: #f4645f;
    border: 1px solid #f4645f;
    transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
}

.btn-custom:hover, .collection-tag:focus {
    color: #f4645f;
    background-color: rgba(236, 97, 73, 0.05);
    transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
}
