@charset "UTF-8";

.topbar {
    background-color: #f8f8f8;
    position: fixed;
    top: 0;
    height: 70px;
    left: 0;
    right: 0;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
}

.topbar .topbar-left {
    position: relative;
    width: 240px;
    height: 70px;
    z-index: 10;
}

.topbar-left > div {
    padding: 10px;
}

.topbar-left a {
    line-height: 50px;
    font-size: 28px;
    text-decoration: none;
}

.topbar > nav {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}

.button-menu {
    background-color: transparent;
    color: #777;
    border: none;
    font-size: 20px;
    line-height: 40px;
    padding: 15px;
}

.button-menu:hover,
.button-menu:focus {
    color: #212121;
}

.topbar-menu {
    background-color: #fff;
    border-radius: 0;
    padding: 0 15px;
    margin-bottom: 0;
}

.topbar-menu .container {
    /* 占据整行 */
    width: auto;
}

.topbar-menu .nav > li > a {
    line-height: 40px;
    padding: 15px;
}

.topbar-menu .nav > li > a > img {
    border: 2px solid #f3f3f3;
    height: 36px;
    width: 36px;
}

.topbar-menu .nav > li > a i {
    font-size: 20px;
}

.dropdown-menu > li > a {
    padding: 6px 20px;
}

.side-menu {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    width: 240px;
}

.content-page {
    /*position: absolute;*/
    top: 70px;
    bottom: 0;
    left: 240px;
    right: 0;
    overflow: auto;
}