<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 注解扫描路径 -->
	<context:component-scan base-package="com.strongliu.blog.controller" />
	<context:component-scan base-package="com.strongliu.blog.service" />
	<context:component-scan base-package="com.strongliu.blog.manager" />
	<context:component-scan base-package="com.strongliu.blog.validator" />

	<!-- 设置配置方案 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean id="fastJson"
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<!-- 顺序不能反，否则IE下会出现下载提示 -->
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<mvc:default-servlet-handler/>

	<!-- 拦截器 -->
	<mvc:interceptors>
		<!-- 多个拦截器顺序执行 -->
		<mvc:interceptor>
			<mvc:mapping path="/"/>
			<bean class="com.strongliu.blog.interceptor.AuthorizationInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 配置freeMarker的模板路径 -->
	<bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="WEB-INF/pages/" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	<!-- freemarker视图解析器 -->
	<bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="suffix" value=".ftl" />
		<property name="contentType" value="text/html;charset=UTF-8" />
	</bean>

	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".html" />
	</bean>

	<!-- 设置静态资源直接映射，DispatcherServlet不处理 -->
	<!--<mvc:resources location="/css/**" mapping="/static/css/" />-->
	<!--<mvc:resources location="/js/**" mapping="/static/js/" />-->
	<!--<mvc:resources location="/*.img" mapping="/image/" />-->
	<!--<mvc:resources location="/*.html" mapping="/" />-->
	
</beans>