<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
       
<mapper namespace="com.strongliu.blog.dao.CategoryDao">

    <resultMap id="categoryResultMap" type="category">
        <id property="id" column="term_id"/>
        <id property="name" column="term_name"/>
        <id property="slug" column="term_slug"/>
        <id property="count" column="term_count"/>
    </resultMap>

    <select id="selectById" resultMap="categoryResultMap">
        SELECT term_id, term_name, term_slug FROM category_table
        WHERE term_id=#{id} AND term_type='category'
    </select>

    <select id="selectBySlug" resultMap="categoryResultMap">
        SELECT term_id, term_name, term_slug FROM term_table
        WHERE term_slug=#{slug} AND term_type='category'
    </select>

    <select id="selectAll" resultMap="categoryResultMap">
        SELECT term_id, term_name, term_slug, term_count FROM term_table
        WHERE term_type='category'
    </select>

    <select id="selectAllByIdList" resultMap="categoryResultMap">
        SELECT term_id, term_name, term_slug FROM term_table
        WHERE term_type='category' AND term_id IN
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <insert id="insert" parameterType="category" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO term_table
        (term_id, term_name, term_slug, term_type, term_count)
        VALUES
        (#{id}, #{name}, #{slug}, 'category', #{count})
    </insert>

    <update id="update" parameterType="category">
        UPDATE term_table
        SET term_name=#{name}, term_slug=#{slug}
        WHERE term_id=#{id} AND term_type='category'
    </update>

    <update id="updatePostCountByIdList" parameterType="int" >
        UPDATE term_table
        SET term_count+=#{number}
        WHERE term_id IN
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM term_table
        WHERE term_id=#{id}
    </delete>

</mapper>