<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
       
<mapper>

    <select id="selectById" resultType="Category">
        SELECT id, category_name, category_visable FROM category_table
    </select>

    <select id="selectByName" resultType="Category">
        SELECT id, category_name, category_visable FROM category_table
    </select>

    <select id="selectAll" resultType="Category">
        SELECT id, category_name, category_visable FROM category_table
    </select>

</mapper>