<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.strongliu.blog.dao.PostDao">
    <select id="selectById" parameterType="String" resultType="Post">
        SELECT id, post_title, post_content, post_create_time FROM post_table
        WHERE id=#{id}
    </select>
    
    <select id="selectPrevById" parameterType="String" resultType="Post">
        SELECT id, post_title FROM post_table
        WHERE post_create_time &lt;
        (SELECT post_create_time FROM post_table WHERE id=#{id})
        ORDER BY post_create_time DESC
        LIMIT 1
    </select>
    
    <select id="selectNextById" parameterType="String" resultType="Post">
        SELECT id, post_title FROM post_table
        WHERE post_create_time &gt;
        (SELECT post_create_time FROM post_table WHERE id=#{id})
        ORDER BY post_create_time
        LIMIT 1
    </select>

    <select id="selectAllPublish" resultType="Post">
        SELECT id, post_title, post_excerpt, post_create_time FROM post_table
        WHERE post_type='post' AND post_status='publish'
        ORDER BY post_create_time DESC
        LIMIT #{offset}, #{limit}
    </select>
    
    <!--<select id="selectAllPublishByCategoryId" parameterType="String" resultType="Post">-->
        <!--SELECT id, post_title, post_create_time FROM post_table-->
        <!--WHERE categoryId = #{categoryId}-->
        <!--ORDER BY post_create_time DESC-->
    <!--</select>-->

    <select id="selectCount" resultType="int">
        SELECT COUNT (*) FROM post_table
    </select>

    <update id="updateReadCount" >
        UPDATE post_table SET read_count=read_count+#{count}
        WHERE id=#{id}
    </update>

    <update id="updateCommentCount">
        UPDATE post_table SET comment_count=comment_count+#{count}
        WHERE id=#{id}
    </update>

</mapper>