<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.strongliu.blog.dao.PostDao">

    <resultMap id="postResultMap" type="Post">
        <id property="id" column="post_id"/>
        <result property="title" column="post_title"/>
        <result property="excerpt" column="post_excerpt"/>
        <result property="content" column="post_content"/>
        <result property="create_time" column="post_create_time"/>
        <result property="update_time" column="post_update_time"/>
        <result property="status" column="post_status"/>
        <result property="comment_status" column="post_comment_status"/>
        <result property="comment_count" column="post_comment_count"/>
        <result property="creator_id" column="creator_id"/>
    </resultMap>

    <select id="selectPublishById" resultMap="postResultMap">
        SELECT post_id, post_title, post_content, post_create_time, creator_id FROM post_table
        WHERE post_id=#{id} AND post_type='post' AND post_status='publish'
    </select>
    
    <select id="selectPublishPrevById" resultMap="postResultMap">
        SELECT post_id, post_title FROM post_table
        WHERE post_create_time &lt;
        (SELECT post_create_time FROM post_table WHERE post_id=#{id} AND post_type='post' AND post_status='publish')
        ORDER BY post_create_time DESC
        LIMIT 1
    </select>
    
    <select id="selectPublishNextById" resultMap="postResultMap">
        SELECT post_id, post_title FROM post_table
        WHERE post_create_time &gt;
        (SELECT post_create_time FROM post_table WHERE post_id=#{id} AND post_type='post' AND post_status='publish')
        ORDER BY post_create_time
        LIMIT 1
    </select>

    <select id="selectAllPublish" resultMap="postResultMap">
        SELECT post_id, post_title, post_excerpt, post_create_time FROM post_table
        WHERE post_type='post' AND post_status='publish' AND post_id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY post_create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectAllPublishByIdList" resultMap="postResultMap">
        SELECT post_id, post_title, post_excerpt, post_create_time FROM post_table
        WHERE post_type='post' AND post_status='publish'
        ORDER BY post_create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectCount" >
        SELECT COUNT (*) FROM post_table
    </select>

    <update id="updateReadCount">
        UPDATE post_table
        SET read_count=read_count+#{count}
        WHERE id=#{id}
    </update>

    <update id="updateCommentCount">
        UPDATE post_table
        SET comment_count=comment_count+#{count}
        WHERE id=#{id}
    </update>

</mapper>