<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.strongliu.blog.dao.PostDao">

    <resultMap id="postResultMap" type="post">
        <id property="id" column="post_id"/>
        <result property="slug" column="post_slug"/>
        <result property="thumb_url" column="post_thumb_url"/>
        <result property="title" column="post_title"/>
        <result property="excerpt" column="post_excerpt"/>
        <result property="content" column="post_content"/>
        <result property="create_time" column="post_create_time"/>
        <result property="update_time" column="post_update_time"/>
        <result property="status" column="post_status"/>
        <result property="comment_status" column="post_comment_status"/>
        <result property="comment_count" column="post_comment_count"/>
        <result property="read_count" column="post_read_count"/>
        <result property="spot_count" column="post_spot_count"/>
        <result property="creator_id" column="creator_id"/>
    </resultMap>

    <select id="selectById" resultMap="postResultMap">
        SELECT post_id, post_slug, post_thumb_url, post_title, post_content, post_create_time, post_comment_count, post_read_count, post_spot_count, creator_id FROM post_table
        WHERE post_id=#{id} AND post_type='post'
    </select>
    
    <select id="selectPublishBySlug" resultMap="postResultMap">
        SELECT post_id, post_slug, post_thumb_url, post_title, post_content, post_create_time, post_comment_count, post_read_count, post_spot_count, creator_id FROM post_table
        WHERE post_slug=#{slug} AND post_type='post' AND post_status='publish'
    </select>
    
    <select id="selectPublishPrevById" resultMap="postResultMap">
        SELECT post_id, post_slug, post_title FROM post_table
        WHERE post_create_time &lt;
        (SELECT post_create_time FROM post_table WHERE post_id=#{id} AND post_type='post' AND post_status='publish')
        ORDER BY post_create_time DESC
        LIMIT 1
    </select>
    
    <select id="selectPublishNextById" resultMap="postResultMap">
        SELECT post_id, post_slug, post_title FROM post_table
        WHERE post_create_time &gt;
        (SELECT post_create_time FROM post_table WHERE post_id=#{id} AND post_type='post' AND post_status='publish')
        ORDER BY post_create_time
        LIMIT 1
    </select>
    
    <select id="selectAll" resultMap="postResultMap">
        SELECT post_id, post_slug, post_title, post_excerpt, post_create_time, post_comment_count, post_read_count, post_spot_count FROM post_table
        WHERE post_type='post'
        ORDER BY post_create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectAllPublish" resultMap="postResultMap">
        SELECT post_id, post_slug, post_thumb_url, post_title, post_excerpt, post_create_time, post_comment_count, post_read_count, post_spot_count FROM post_table
        WHERE post_type='post' AND post_status='publish'
        ORDER BY post_create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectAllPublishByIdList" resultMap="postResultMap">
        SELECT post_id, post_slug, post_title, post_excerpt, post_create_time, post_comment_count, post_read_count, post_spot_count FROM post_table
        WHERE post_type='post' AND post_status='publish' AND post_id IN
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
        ORDER BY post_create_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectCount" >
        SELECT COUNT (*) FROM post_table
    </select>

    <insert id="insert" parameterType="post">
        INSERT INTO post_table
        (post_slug, post_thumb_url, post_title, post_excerpt, post_content, post_create_time, post_update_time,
         post_status, post_comment_status, post_type, post_mime_type, post_comment_count, post_read_count, post_spot_count, creator_id)
        VALUES
        (#{slug}, #{thumb_url}, #{title}, #{excerpt}, #{content}, #{create_time}, #{update_time},
        #{status}, #{comment_status}, #{type}, #{mime_type}, #{comment_count}, #{read_count}, #{spot_count}, #{creator_id})
    </insert>

    <update id="update" parameterType="post">
        UPDATE post_table
        SET post_slug=#{slug}, post_thumb_url=#{thumb_url}, post_title=#{title}, post_excerpt=#{excerpt}, post_content=#{content}, post_update_time=#{update_time},
         post_status=#{status}, post_comment_status=#{comment_status})
        WHERE post_id=#{id}
    </update>

    <delete id="deleteById">
        DELETE FROM post_table
        WHERE post_id=#{id}
    </delete>

    <update id="updateCommentCount">
        UPDATE post_table
        SET comment_count+=#{count}
        WHERE post_id=#{id}
    </update>

    <update id="updateReadCount">
        UPDATE post_table
        SET read_count+=#{count}
        WHERE post_id=#{id}
    </update>

    <update id="updateSpotCount">
        UPDATE post_table
        SET spot_count+=#{count}
        WHERE post_id=#{id}
    </update>

</mapper>