<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.strongliu.blog.dao.TagDao">

    <resultMap id="tagResultMap" type="Tag">
        <id property="id" column="term_id"/>
        <id property="name" column="term_name"/>
        <id property="slug" column="term_slug"/>
        <id property="count" column="term_count"/>
    </resultMap>

    <select id="selectById" resultMap="tagResultMap">
        SELECT term_id, term_name, term_slug FROM term_table
        WHERE term_id=#{id} AND term_type='tag'
    </select>

    <select id="selectAllByName" resultMap="tagResultMap">
        SELECT term_id, term_name, term_slug FROM term_table
        WHERE term_name=#{name} AND term_type='tag'
    </select>

    <select id="selectAll" resultMap="tagResultMap">
        SELECT term_id, term_name, term_slug, term_count FROM term_table
        WHERE term_type='tag'
    </select>

</mapper>