<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.strongliu.blog.dao.UserDao">

    <resultMap id="userResultMap" type="User">
        <id property="id" column="user_id"/>
        <result property="name" column="user_name"/>
        <result property="password" column="user_password"/>
        <result property="nickname" column="user_nickname"/>
        <result property="email" column="user_email"/>
        <result property="avatar_url" column="user_avatar_url"/>
        <result property="register_time" column="user_register_time"/>
        <result property="activate_time" column="user_activate_time"/>
    </resultMap>
    
    <insert id="insert" parameterType="User">
        INSERT INTO user_table
        (id, user_name, user_password, user_nickname, user_email, user_avatar_url, user_register_time, user_status)
         VALUES
         (#{id}, #{name}, #{password}, #{nickname}, #{email}, #{avatar_url}, #{register_time}, #{status})
    </insert>

    <select id="selectById" resultMap="userResultMap">
        SELECT id, user_name, user_nickname, user_email, user_avatar_url, user_register_time, user_status FROM user_table
        WHERE id=#{id}
    </select>

    <select id="selectByUsername" resultMap="userResultMap">
        SELECT id, user_name, user_password FROM user_table
        WHERE user_name=#{name}
    </select>

    <update id="update" parameterType="User">
        UPDATE user_table
        SET user_name=#{name}, user_password=#{password}, user_nickname=#{nickname}, user_email=#{email}, user_avatar_url=#{avatar_url}, user_register_time=#{register_time}, user_status=#{status}
        WHERE id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM user_table
        WHERE id=#{id}
    </delete>

</mapper>