<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.strongliu.blog.dao.UserDao">

    <resultMap id="userResultMap" type="user">
        <id property="id" column="user_id"/>
        <result property="name" column="user_name"/>
        <result property="password" column="user_password"/>
        <result property="nickname" column="user_nickname"/>
        <result property="email" column="user_email"/>
        <result property="avatar_url" column="user_avatar_url"/>
        <result property="register_time" column="user_register_time"/>
        <result property="activate_time" column="user_activate_time"/>
    </resultMap>
    
    <select id="selectByUsernameAndPassword" resultMap="userResultMap">
        SELECT user_id, user_nickname, user_avatar_url, user_activate_time FROM user_table
        WHERE user_name=#{username} AND user_password=#{password}
    </select>

    <select id="selectById" resultMap="userResultMap">
        SELECT user_id, user_name, user_nickname, user_email, user_avatar_url, user_register_time, user_activate_time FROM user_table
        WHERE id=#{id}
    </select>

    <select id="selectAll" resultMap="userResultMap">
        SELECT user_id, user_name, user_avatar_url, user_register_time, user_activate_time FROM user_table
        ORDER BY user_id ASC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectCountByUsername" resultType="int">
        SELECT COUNT(*) FROM user_table WHERE user_name=#{username}
    </select>

    <select id="selectCount" resultType="int">
        SELECT COUNT(*) FROM user_table
    </select>

    <insert id="insert" parameterType="user">
        INSERT INTO user_table
        (user_id, user_name, user_password, user_nickname, user_email, user_avatar_url, user_register_time, user_activate_time)
        VALUES
        (#{id}, #{name}, #{password}, #{nickname}, #{email}, #{avatar_url}, #{register_time}, #{activate_time})
    </insert>

    <update id="update" parameterType="user">
        UPDATE user_table
        SET user_password=#{password}, user_nickname=#{nickname}, user_email=#{email}, user_avatar_url=#{avatar_url}
        WHERE user_id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM user_table
        WHERE user_id=#{id}
    </delete>

</mapper>